// position fixed in order to escape the 1440px wrapper
.contact
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background:
    image: url("../img/ben-latency-onstage.jpg")
    position: center
    size: cover
    repeat: no-repeat

  &--lockup
    position: relative
    display: flex
    width: 900px
    max-width: 75%
    height: 100%
    align-items: center
    justify-content: flex-end
    margin: 80px 40px

    @media (max-width: 1180px)
      max-width: 60%

    @media (max-width: 767px)
      justify-content: left

    .modal
      padding: 15px 45px
      text-align: center
      background-color: $white
      border: 8px solid $highlight
      box-shadow: 0 0 20px 0 rgba(0,0,0,.75)

      &--information

        p,
        a
          display: block
          margin: 14px 0
          text-decoration: none
          color: $black
          font-weight: 700

        p
          margin-top: 0

      &--options
        margin: 0
        padding: 0
        list-style: none

        & > li
          width: 230px
          margin: 0 auto 10px auto

        li:nth-child(1)
          background-color: $brown-gray

        li:nth-child(2)
          background-color: $bone

        li:nth-child(3)
          margin-bottom: 0
          background-color: $brown-gray

        a
          display: block
          width: 100%
          padding: 2px 0
          text-decoration: none
          color: $white
          font-weight: 700

        img
          padding-top: 4px
